/* body {
    font-family: 'Roboto';font-size: 16px;
} */

.aboutusSection {
    padding: 90px 0;
}
.aboutusTitle {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #fff;
}
.aboutusTitle::after {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 150px;
}
.aboutusText {
    color: #fff;
    font-size: 17px;
    line-height: 22px;
    margin: 0 0 35px;
    text-align: justify;
}

/* a:hover, a:active {
    color: #ffb901;
    text-decoration: none;
    outline: 0;
} */
.aboutusMore {
    border: 1px solid #fff;
    border-radius: 25px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-decoration: none;
    text-transform: uppercase;
}
.feature .featureBox .iconset {
    background: #fff none repeat scroll 0 0;
    float: left;
    position: relative;
    width: 18%;
}
.feature .featureBox .iconset::after {
    background: #fdb801 none repeat scroll 0 0;
    content: "";
    height: 150%;
    left: 43%;
    position: absolute;
    top: 100%;
    width: 1px;
}

.feature .featureBox .featureContent h4 {
    color: #fff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}


.feature .featureBox .featureContent {
    float: left;
    padding-left: 28px;
    width: 78%;
}
.feature .featureBox .featureContent h4 {
    color: #ff0076 ;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 10px 0 5px;
}
.feature .featureBox .featureContent p {
    color: #fff;
    text-align: justify;
    font-size: 13px;
    line-height: 22px;
}
.icon {
    color : #f4b841;
    padding:0px;
    font-size:40px;
    border: 1px solid #fdb801;
    border-radius: 100px;
    color: #fdb801;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}
